.css-o4b71y-MuiAccordionSummary-content{
    margin: 0 !important;
}
.css-1avyyi6-MuiPaper-root-MuiAccordion-root:last-of-type{
    border-bottom: 1px solid #d9d9d9;
}
.css-1yyatv0-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: auto !important;
    padding-bottom: 1rem !important;
}
.css-1qtnbeu-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: auto !important;
}
.css-dqzeqx-MuiButtonBase-root-MuiAccordionSummary-root{
    min-height: auto !important;
}
.css-1t8pd81-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: auto !important;
}
.css-sfbxsu-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: auto !important;
}
.css-vkho9m-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: auto !important;
}