.modal{
    z-index: 40;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(17,17,17,.4);
    opacity: 0;
    transition: all 1s ease-in-out;
    display: none;
}
.modal.is-open{
    display: flex;
    opacity: 1;
}